body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.8;
	/* below is added for test */
	background: #222;
	color: #eee;
}

a {
	text-decoration: none;
	/* below is added for test */
	color: #fa0;
}

a:hover {
	text-decoration: underline;
}

hr {
	margin-top: 25px;
	border-top: 1px solid #ccc;
	/* below is added for test */
	border-top: 2px solid #333;
}

.i {
	line-height: 0;
	/* below is added for test */
	background-color: #fff;
}

pre {
	width: 100%;
	white-space: pre-wrap;
	word-wrap: break-word;
	/* below is added for test */
	background: #111;
	border: 10px solid #333;
	max-width: 100%;
	width: auto;
	padding: 10px;
}

ol {
	list-style-type: decimal-leading-zero;
}

#w {
	width: 800px;
	border: 0;
}

@media only screen and (max-width: 800px) {

	#w,
	img {
		width: 100%;
	}

	#w {
		max-width: 800px;
	}

	img {
		height: auto;
	}

	section .footnotes {
		overflow-x: scroll
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #222;
		color: #eee;
	}

	a {
		color: #fa0;
	}

	.i {
		background-color: #fff;
	}

	pre {
		background: #111;
		border: 10px solid #333;
		max-width: 100%;
		width: auto;
		padding: 10px;
	}

	hr {
		border-top: 2px solid #333;
	}
}

#t {
	border: 1px solid white;
	border-collapse: collapse;
	max-width: 600px;
}

#t td {
	padding: 10px;
}

footer {
	color: gray;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
