<div class="contact">
    <div class="social">
        <p>
            <a href="mailto:amishd96@gmail.com">
                <img src="../../assets/icon/m.png">
                <p data-toggle="tooltip" title="amishd96@gmail.com">
                    Email
                </p>
            </a>
        </p>
    </div>
    <div class="social">
        <p>
            <a href="https://www.kaggle.com/amish47">
                <img src="../../assets/icon/k.png">
                <p data-toggle="tooltip" title="https://www.kaggle.com/amish47">Kaggle</p>
            </a>
        </p>
    </div>
    <div class="social">
        <p>
            <a href="https://github.com/amish">
                <img src="../../assets/icon/g.png">
                <p data-toggle="tooltip" title="https://github.com/amish">Github</p>
            </a>
        </p>
    </div>
    <div class="social">
        <p>
            <a href="https://twitter.com/imbatman_47">
                <img src="../../assets/icon/t.png">
                <p data-toggle="tooltip" title="https://twitter.com/imbatman_47">Twitter</p>
            </a>
        </p>
    </div>
</div>