.nav-item {
    padding: 0 0.8rem 0 0.8rem;
}

.navbar {
    //height:44px;
}

.navbar-brand {
    //font-size: 19px;
}

.dropdown-menu .navbar {
    //font-size: 14px;
}

.navbar-toggler-icon{
    font-size: 0.8rem;
    
}

.navbar-toggler{
    border: 0;
}