<h6>
    Below are some of my personal Data Science projects:
</h6>

<ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1">
    <ngb-panel id="custom-panel-1">
        <ng-template ngbPanelHeader let-opened="opened">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Fake News Headline Classification</h5>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <p>
                Check whether a news headline from any source is a fact or not
            </p>
            <p>
                Python &nbsp;|&nbsp; NLP &nbsp;|&nbsp; Flask &nbsp;|&nbsp; Heroku
            </p>
            <p>
                <a href="http://fake-news-app53.herokuapp.com/">Live demo</a>
            </p>
        </ng-template>
    </ngb-panel>
</ngb-accordion>