<div class="about">
    <span>
        Hello!
        <br>
        Welcome to my online presence,
        <br>
        My name is Amish, I am a Software Developer and a Data Science Enthusiast,
        <br>
        I like Tech and I'm always curious to learn how things work.
    </span>
    <p>
        Things on which I like to spend my time:
    </p>
    <img src="../../assets/img/wc_tech.png">
    <p>
        Stuffs/Hobbies that I like:
    </p>
    <img src="../../assets/img/wc_hobby.png">
    <hr>
</div>